In [50]:
#3x3 with 5 in the middle cell

line1 = [0] *3
line2 = [0] *3
line3 = [0] *3

line2[1] = 5

my_sudoku_arr = line1 + line2 + line3

# print(my_sudoku_arr)

for i in my_sudoku_arr:
    print(i)

# for i in line1:
#     print(i)

0
0
0
0
5
0
0
0
0

In [59]:
for i in my_sudoku_arr:
    n = 5
    if n != i:
        print(i)
#     else:
#         print(n)

0
0
0
0
0
0
0
0

In [74]:
n=[]

for i in my_sudoku_arr:
    for b in range(1, 10):
        if b not in n:
            n.append(b)
            print(n)
#         print(n)
#         n.append(i)
#         print(n)

[1]
[1, 2]
[1, 2, 3]
[1, 2, 3, 4]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, 7]
[1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [75]:
def write_numbers(*args):

    seted_numbers = list(args)
    print(seted_numbers)

    for i in my_sudoku_arr:
        for b in range(1, 10):
            if b not in seted_numbers:
                seted_numbers.append(b)

    print(seted_numbers)


write_numbers(1, 2, 3)

[1, 2, 3]
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [80]:
line1 = {'col1': 0, 'col2': 0, 'col3': 0}
line2 = {'col1': 0, 'col2': 0, 'col3': 0}
line3 = {'col1': 0, 'col2': 0, 'col3': 0}

line2['col2'] = 5

print(line2)

{'col1': 0, 'col2': 5, 'col3': 0}

In [83]:

row1 = {'col1': 0, 'col2': 0, 'col3': 0}
row2 = {'col1': 0, 'col2': 0, 'col3': 0}
row3 = {'col1': 0, 'col2': 0, 'col3': 0}

row2['col2'] = 5

# print(line2)

my_sudoku_arr = {"row1": row1}

print(my_sudoku_arr)

{'row1': {'col1': 0, 'col2': 0, 'col3': 0}}

In [96]:
# define an sudoku table as 3x3 and 5 in the middle

row1 = {'col1': 0, 'col2': 0, 'col3': 0}
row2 = {'col1': 0, 'col2': 0, 'col3': 0}
row3 = {'col1': 0, 'col2': 0, 'col3': 0}

# row2['col2'] = 5

my_sudoku_arr = {
    "row1": row1,
    "row2": row2,
    "row3": row3,
}

# print(my_sudoku_arr)

my_table_row = [0] * len(my_sudoku_arr)
my_table_coloumn = [0] * len(my_sudoku_arr)

# print(my_table_row, my_table_coloumn)

my_table = []

for i in range(len(my_sudoku_arr)):
    my_table_row[i] = i
    my_table_coloumn[i] = i
    print(i)

print(my_table_row, my_table_coloumn)

for i, j in zip(my_table_row, my_table_coloumn):
    print(i, j)

# write_numbers(1, 2, 3)


# fisrt group 3x3 is a list, and it has 3 positions at line1(col1, col2, col3), line2(col1, col2, col3) and line3(col1, col2, col3)

0
1
2
[0, 1, 2] [0, 1, 2]
0 0
1 1
2 2